<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=0.7, initial-scale=1, maximum-scale=5">
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="icon" href="/imgs/favicon.png">
        <title>EXP | CON</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Squada+One&display=swap" rel="stylesheet">
    </head>

    <div class="navbar-background">
        <div class="burger-wrapper">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="header-title">
            exp|con
        </div>
    </div>

    <div id="content-wrap">
        {{{body}}}
    </div>

    <footer id="footer-container">
        <div class="footer">
            <h1>EXP|CON</h1>
            <p>2019 Ⓒ All Rights Reserved | Speer Technologies Incorporated</p>
            <a href="mailto:support@experienceconcerts.co">support@experienceconcerts.co</a>
        </div>
    </footer>

    <script src="/script.js"></script>
</html>
